:root {
  --main-font: "Franklin Gothic Medium";
  --transparent: rgba(0, 0, 0, 1%);
  --navbar: rgba(255, 255, 255, 0.705);
  --color1: rgb(0, 0, 0);
  --color2: rgb(255, 255, 255);
  --color3: rgb(100, 100, 100);
  --color4: rgb(255, 69, 0);
  --color5: rgba(230, 230, 230);
  --color6: rgb(100, 100, 100);
  --color7: rgb(240, 240, 240);
  --bg-body: hsl(0, 0%, 8%);
  --bg-body2: hsl(0, 0%, 14%);
  --accent: hsl(180, 0%, 41%);
  --text1: hsl(0, 0%, 100%);
  --text2: hsl(0, 0%, 85%);
  --invalid: hsl(7, 100%, 68%);
  --fs-18: 1.125rem;
  --fs-88: 5.5rem;
  --fs-72: 4.5rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-36: 2.25rem;
  --fs-32: 2rem;
  --fs-24: 1.5rem;
  --fs-20: 1.25rem;
  --container: 69.375rem;
  --transition: 250ms ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  width: calc(100% - 2rem);
  max-width: var(--container);
  margin-inline: auto;
}

a {
  transition: color var(--transition);
}

a:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px dashed var(--accent);
  outline-offset: 2px;
}

input:invalid,
textarea:invalid {
  outline-color: var(--invalid);
}

a.underline{
  display: inline-block;
  padding-bottom: 0.625rem;
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 0.143em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text1);
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    var(--accent) 75%,
    var(--accent) 75%
  );
  background-position: 0 2.1em;
  background-repeat: repeat-x;
  background-size: 8px 2px;
}

a:hover {
  color: var(--accent);
}

img{
  display: block;
}

body {
  background-color: var(--color2);
  color: var(--color1);
}

#app {
  width: 100%;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: var(--navbar);
  color: var(--color6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#nav-links {
  display: flex;
  flex-direction: row;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  color: var(--color1);
}

.nav-item:hover {
  color: var(--color6);
}

#main-section {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ms-content {
  margin: 0 15%;
  padding: 1%;
}

#short-about-text {
  font-size: 1.2rem;
  color: var(--color3);
  margin-top: 2%;
}

#skills-section {
  font-size: 0.7rem;
  margin-top: 3%;
}

.skls-lst {
  font-size: 0.8rem;
  display: inline-block;
  border: soli 1px;
  padding: 0.5%;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--color5);
}

.projects{
  background-color: var(--color5);
}

.projects__wrapper {
  padding-block: 140px;
}

.projects__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-items: center;
  text-align: center;
}

.projects__headline {
  grid-column: 1 / span 2;
  margin-block-end: 0;
}

.header-xl {
  font-size: 1.5rem;
}

.projects__contact {
  grid-column: 1 / span 2;
}

.projects__item {
  grid-column: 1 / span 2;
  border: ;
}

.projects__picture {
  display: block;
  margin-block-end: 20px;
}

.projects__image {
  width: 100%;
  height: auto;
}

.projects__name {
  font-size: 1.3rem;
  margin-block-end: 7px;
}

.projects__description {
  display: flex;
  justify-content: center;
}

.projects__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#footer{
  position: absolute;
  width: 100%;
  height: 20%;
  color: var(--color2);
  background-color: var(--color1);
}

#copyright{
  display: flex;
  justify-content: center;
}

@media (min-width: 37.5em) {
  .projects__grid {
    gap: 60px 24px;
    justify-items: start;
    text-align: left;
  }

  .projects__contact {
    justify-self: end;
  }

  .projects__item {
    grid-column: span 1;
  }

  .projects__headline,
  .projects__contact {
    grid-column: span 1;
  }

  .projects__contact {
    align-self: center;
  }

  .projects__description,
  .projects__links {
    display: block;
    margin-left: 5%;
  }

  .projects__description span {
    margin-inline-end: 1px;
  }

  .projects__links a {
    margin-inline-end: 30px;
  }

  .project__links {
    display: block;
  }
}

@media (min-width: 62.5em) {
  .projects__grid {
    gap: 70px 30px;
  }

  .projects__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }

  .projects__picture {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .projects__picture::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: hsl(0, 0%, 0%);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  .projects__item:hover .projects__picture::after {
    opacity: 0.5;
  }

  .projects__item:hover .projects__links {
    opacity: 1;
  }
  .projects__item:focus-within .projects__links {
    opacity: 1;
  }

  .projects__item:focus-within .projects__picture::after {
    opacity: 0.5;
  }

  .projects__image {
    width: 100%;
    height: auto;
  }

  .projects__links {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 400ms ease-in-out;
  }

  .projects__links:hover ~ .projects__picture::after {
    opacity: 0.5;
  }

  .projects__description {
    margin-block-end: 0;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }

  #ms-content {
    margin-top: 0;
  }

  #short-about-text {
    margin-top: 8%;
  }

  #skills-section {
    margin-top: 10%;
  }

  .skls-lst{
    margin: 3px;
    border-radius: 3px;
  }
}
