:root{
    --main-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --primary-color1: rgb(0, 0, 0);
    --bg-color1: rgb(255, 255, 255);
}

*{
    border: solid 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    font-family: var(--main-font);
    background-color: var(--bg-color1);
    color: var(--primary-color1);
}

#container{
    height: relative;
}


#main-page{
    border: solid 1px;
    height: 70%;
    width: 70%;
    padding: 20px;
}

#header-name{
    font-size: 3rem;
    color: rgb(0, 0, 0);
    margin: 10px;
    padding: 2px;
    border: solid 1px;
}

#short-about-text{
    font-size: 2.5rem;
    margin: 10px;
    padding: 10px;
    border: solid px;
}